<div class="row" style="    margin-bottom: 50px; margin-top: 70px;">
  <div class='col-12'>
    <ngb-carousel style="border-radius: 150px; overflow: hidden;">
      <ng-template ngbSlide>
        <img src="../../../assets/img-carousel/carousel1.jpg" class="img-fluid" style=" width: 100%; border-radius: 150px;">
        <div class="carousel-caption">
          <h3 style="color: rgb(255, 255, 255)">Masažai</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../../assets/img-carousel/carousel2.jpg" class="img-fluid" style=" width: 100%; border-radius: 150px;">
        <div class="carousel-caption">
          <h3 style="color: rgb(255, 255, 255)">Treniruotės</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../../assets/img-carousel/carousel3.jpg" class="img-fluid" style=" width: 100%; border-radius: 150px;">
        <div class="carousel-caption">
          <h3 style="color: rgb(255, 255, 255)">Procedūros</h3>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
